<h1>Add a new word to the dictionary!</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="new_word">Create your new word!</label>
    <input type="text" class="form-control" name="new_word" required>
  </div>
  <button type="submit" name="btn">Create!</button>
</form>